<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @decision.location %>
</p>

<p>
  <strong>Decision text:</strong>
  <%= @decision.decision_text %>
</p>

<% @decision.members.each do |u| %>
<%= u.email %>
<% end %>

<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', decisions_path %>
<%= button_to 'Join', group_path, params: {:user_id => current_user.id, :decision_id=> @decision.id} %>
