<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @decision.location %>
</p>

<p>
  <strong>Decision text:</strong>
  <%= @decision.decision_text %>
</p>

<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', decisions_path %>
